.cta-btn {
  background: linear-gradient(90deg, #cf496c 3.75%, #ff6a6c 96.25%);
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  min-width: 200px;
  width: 40vw;
  color: #ffffff;
  letter-spacing: 0.5px;
  text-align: center;
  padding: 2.5rem;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bolder;
  cursor: pointer;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: none;
  z-index: 99;

  @media only screen and (max-width: 900px) {
    font-size: 2rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
  }
  @media only screen and (max-width: 600px) {
    font-size: 1.6rem;
  
  }

  &:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    background: linear-gradient(90deg, #017064 3.75%, #01a697 96.25%);

    border-radius: 10px;
  }
}
