header {
  height: 100vh;
  display: flex;
}
.upper-leaves {
  width: 10rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -20%);
}
.full-lady {
  margin: 5rem;

  width: 30vw;
}
.left-corner-leaves {
  position: absolute;
  width: 25vw;
  bottom: 0;
  left: 0;
  transform: translate(0, 50%);
}
.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  margin: 10rem;
  letter-spacing: 0.3rem;
}
.headline {
  font-style: normal;
  font-weight: 600;
  font-size: 4rem;
  line-height: 6rem;
  text-align: center;
  color: #03313c;
  align-self: center;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.subhead {
  font-size: 2.3rem;

  text-align: center;

  color: #03313c;
  margin-bottom: 2rem;
}
