header {
  height: 100vh;
  display: flex;
  position: relative;
  @media only screen and (max-width: 900px) {
    justify-content: center;
  }
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: 900px) {
    flex-direction: column;
  }
}
.upper-leaves {
  width: 10rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -20%);
  @media only screen and (max-width: 900px) {
    transform: translate(-50%, -28%);
  }
}
.full-lady {
  margin: 5rem;
  width: 30vw;
  opacity: 50%;
  @media only screen and (max-width: 900px) {
    position: absolute;
    width: 60vw;
    opacity: 20%;
    z-index: -1;
  }
}
.left-corner-leaves {
  position: absolute;
  width: 16vw;
  bottom: 0;
  left: 0;
  transform: translate(0, 50%);
  @media only screen and (max-width: 900px) {
    width: 36vw;
  }
}
.right-corner-leaves {
  position: absolute;
  width: 15vw;
  bottom: 0;
  right: 0;
  transform: translate(10%, 50%);
  @media only screen and (max-width: 900px) {
    width: 27vw;
  }
}
.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 10rem;
  letter-spacing: 0.1rem;
  @media only screen and (max-width: 1100px) {
    margin: 6rem;
  }
}
.headline {
  font-style: normal;
  font-weight: 600;
  font-size: 4rem;
  line-height: 6rem;
  text-align: center;
  color: #03313c;
  align-self: center;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.subhead {
  font-size: 2.3rem;

  text-align: center;

  color: #03313c;
  margin-bottom: 2rem;
}
