header {
  height: 100vh;

  position: relative;

  @media only screen and (max-width: 1100px) {
    justify-content: center;
  }
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: 1100px) {
    flex-direction: column;
  }
}
.upper-leaves {
  width: 10rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -20%);
  @media only screen and (max-width: 1100px) {
    transform: translate(-50%, -28%);
  }
}
.full-lady {
  margin: 5rem;
  width: 20vw;
  position: absolute;
  right: 0px;
  z-index: -1;

  @media only screen and (max-width: 1100px) {
    position: absolute;
    width: 50vw;
    opacity: 0.2;
    z-index: -1;
  }
}
.left-corner-leaves {
  position: absolute;
  width: 16vw;
  bottom: 0;
  left: 0;
  transform: translate(0, 50%);
  @media only screen and (max-width: 1100px) {
    bottom: 3rem;
  }
}
.right-corner-leaves {
  position: absolute;
  width: 15vw;
  bottom: 0;
  right: 0;
  transform: translate(10%, 50%);
  @media only screen and (max-width: 1100px) {
    bottom: 3rem;
  }
  @media only screen and (min-width: 1700px) {
    right: -1rem;
  }
}
.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;

  margin: 10rem;
  letter-spacing: 0.1rem;
}
.headline {
  letter-spacing: 1rem;
  font-style: normal;
  font-weight: bold;
  font-size: 4rem;
  line-height: 6rem;
  text-align: center;
  color: #03313c;
  align-self: center;
  margin-bottom: 2rem;
  display: inline-block;
}

.subhead {
  font-size: 2.3rem;

  text-align: center;

  color: #03313c;
}
