*,
*::after,
*::before {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  max-width: 100%;
  overflow-x: hidden;

  @media only screen and (max-width: 600px) {
    font-size: 56.25%;
  }

  @media only screen and (max-width: 900px) {
    font-size: 50%;
  }
  @media only screen and (min-width: 1700px) {
    font-size: 100%;
  }
}
body {
  box-sizing: border-box;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.headline-2 {
  font-weight: 600;
  font-size: 3rem;
  line-height: 5rem;
  text-align: center;
  color: #03313c;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 2rem;
  letter-spacing: 0.5rem;
  width: 70vw;

  @media only screen and (max-width: 900px) {
    margin-top: 2rem;
    letter-spacing: 0.1rem;

  }
  @media only screen and (max-width: 600px) {
    font-size: 2.4rem;
    line-height: 4rem;
    width: 70vw;

  }
}
.headline-3 {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 5rem;
  text-align: center;
  color: #03313c;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 2rem;
  z-index: 3;
  @media only screen and (max-width: 900px) {
    width: 70vw;
  }
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: -20rem;
  position: relative;
  margin-bottom: -20rem;
  @media only screen and (max-width: 900px) {
    top: -25rem;
    margin-bottom: -25rem;
  }
  @media only screen and (max-width: 350px) {
    top: -20rem;
    margin-bottom: -20rem;
  }
}

.benefits-container {
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: 1100px) {
  }
}
.about-gy {
  width: 60vw;
  margin-top: 5rem;
  font-style: normal;
  font-weight: 300;
  font-size: 2rem;
  line-height: 4rem;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #03313c;
  & ul {
    text-align: left;

    margin: 2rem 6rem;
    & li {
      margin-left: 6rem;
      width: 80%;
      @media only screen and (max-width: 900px) {
        margin-left: 0rem;
        width: 100%;
      }
    }
    @media only screen and (max-width: 900px) {
      margin: 2rem 3rem;
    }
  }

  .ready {
    letter-spacing: .2rem;
    text-transform: uppercase;
    margin: 5rem;

    @media only screen and (max-width: 1100px) {
      width: 80vw;
    }
  }
  .last-call {
    margin-top: 5rem;
  }
  & .benfits-list {
    position: relative;

    margin: 2rem;
    flex-wrap: wrap;
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    .hideme {
      @media only screen and (max-width: 900px) {
        display: none;
      }
    }

    & > li {
      flex: 1 0 25%; /* explanation below */
      margin: 5px;
      text-decoration: none;
      color: #03323d;
      list-style: none;
      margin: 2rem;

      & > .benefit-container {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;

        font-weight: bold;

        & > .benefit {
          width: 8rem;
          padding: 1rem;
        }
        & > span {
          letter-spacing: 0.2rem;
        }
      }
    }
  }
}
.img{
  width: 40vw;

  @media only screen and (max-width: 900px) {
    width: 80vw;
  }
}

.thanks{
  letter-spacing: .4rem;
  color: #03313c;
  text-align: center;
  font-size: 3rem;
  margin: 5rem;

  @media only screen and (max-width: 1100px) {
    width: 80vw;
  }
}
.testimonials{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  @media only screen and (max-width: 900px) {
    flex-direction: column  ;
  }
  & .testimonial{
    margin: 2rem;
    width: 20vw;
    line-height: 2.2rem;
    font-size: 1.8rem;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    padding: 2rem;
    font-style: italic;
    color: #03313c;
  
    & h4{
      margin-bottom: 1rem;
    }
    & .stars{
      align-items: center;
      padding: 1rem;
      color: gold;
      display: flex;
      font-size: 4rem;
    
      justify-content: center;
    }
    &:hover{
      box-shadow: 0 0 11px rgba(33,33,33,.2); 
    }

    @media only screen and (max-width: 900px) {
      width: 40vw;
      line-height: 3.5rem;
      font-size: 2.5rem;
    }
    @media only screen and (max-width: 600px) {
      width:60vw;
    }
  }
}


footer {
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem;
}
