*,
*::after,
*::before {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  max-width: 100%;
  overflow-x: hidden;
}
body {
  box-sizing: border-box;
}
