*,
*::after,
*::before {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  max-width: 100%;
  overflow-x: hidden;

  @media only screen and (max-width: 600px) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @media only screen and (max-width: 900px) {
    // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }
}
body {
  box-sizing: border-box;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.headline-2 {
  font-weight: 600;
  font-size: 3rem;
  line-height: 5rem;
  text-align: center;
  color: #03313c;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 2rem;
  letter-spacing: 0.5rem;
  width: 100%;

  @media only screen and (max-width: 900px) {
    margin-top: 2rem;
  }
}
.headline-3 {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 5rem;
  text-align: center;
  color: #03313c;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 2rem;
  z-index: 3;
  @media only screen and (max-width: 900px) {
    width: 70vw;
  }
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: -27rem;
  position: relative;
  margin-bottom: -27rem;
  @media only screen and (max-width: 1100px) {
    top: -37rem;
    margin-bottom: -37rem;
  }
}

.benefits-container {
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > ul {
    position: relative;

    margin: 2rem;
    flex-wrap: wrap;
    font-size: 1.5rem;
    text-align: center;
    display: flex;

    & > li {
      flex: 1 0 25%; /* explanation below */
      margin: 5px;
      text-decoration: none;
      color: #03323d;
      list-style: none;
      margin: 2rem;

      & > .benefit-container {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        font-size: small;

        font-weight: bold;

        & > .benefit {
          width: 8rem;
          padding: 1rem;
        }
        & > span {
          letter-spacing: 0.2rem;
        }
      }
    }
  }
  @media only screen and (max-width: 1100px) {
    flex-direction: column-reverse;
    width: 70vw;
  }
}
.about-gy {
  margin-top: 5rem;
  font-style: normal;
  font-weight: 300;
  font-size: 2rem;
  line-height: 4rem;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #03313c;
  & ul {
    text-align: justify;

    margin: 2rem 6rem;
    & li {
      margin-left: 6rem;
      width: 80%;
      @media only screen and (max-width: 900px) {
        margin-left: 0rem;
      }
    }
  }

  .ready {
    letter-spacing: 1rem;
    text-transform: uppercase;
    margin: 5rem;
  }
  .last-call {
    margin-top: 5rem;
  }
}

footer {
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem;
}
